#pass1 {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 18px;
    padding-right: 161px;
    border-radius: 10px;
    display: flex;
    margin-top: 422px;
    margin-left: 400px;
}